[submodule "MatteoGameEngine/vendor/spdlog"]
	path = MatteoGameEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MatteoGameEngine/vendor/GLFW"]
	path = MatteoGameEngine/vendor/GLFW
	url = https://github.com/mmazzarini/glfw
[submodule "MatteoGameEngine/vendor/imgui"]
	path = MatteoGameEngine/vendor/imgui
	url = https://github.com/mmazzarini/imgui
